BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

FREQUENCY PORT "io_clk25" 25.0 MHz;
LOCATE COMP "io_clk25" SITE "B9";
IOBUF PORT "io_clk25" IO_TYPE=LVCMOS33;

LOCATE COMP "io_rgb[0]" SITE "A13";		# LED0
IOBUF PORT "io_rgb[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rgb[1]" SITE "A14";		# LED1 - WORK
IOBUF PORT "io_rgb[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rgb[2]" SITE "A15";		# LED2 - TEST
IOBUF PORT "io_rgb[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rgb[3]" SITE "B14";		# LED3
IOBUF PORT "io_rgb[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_gpio[0]" SITE "L1";		# HUB_00 
IOBUF PORT "io_gpio[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[0]" PULLMODE=NONE;
LOCATE COMP "io_gpio[1]" SITE "L2";		# HUB_01 
IOBUF PORT "io_gpio[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[1]" PULLMODE=NONE;
LOCATE COMP "io_gpio[2]" SITE "M1";		# HUB_02 
IOBUF PORT "io_gpio[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[2]" PULLMODE=NONE;
LOCATE COMP "io_gpio[3]" SITE "M2";		# HUB_03 
IOBUF PORT "io_gpio[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[3]" PULLMODE=NONE;
LOCATE COMP "io_gpio[4]" SITE "K4";		# HUB_04 
IOBUF PORT "io_gpio[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[4]" PULLMODE=NONE;
LOCATE COMP "io_gpio[5]" SITE "K5";		# HUB_05 
IOBUF PORT "io_gpio[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[5]" PULLMODE=NONE;
LOCATE COMP "io_gpio[6]" SITE "L4";		# HUB_06 
IOBUF PORT "io_gpio[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[6]" PULLMODE=NONE;
LOCATE COMP "io_gpio[7]" SITE "L5";		# HUB_07 
IOBUF PORT "io_gpio[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[7]" PULLMODE=NONE;
LOCATE COMP "io_gpio[8]" SITE "N1";		# HUB_08 
IOBUF PORT "io_gpio[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[8]" PULLMODE=NONE;
LOCATE COMP "io_gpio[9]" SITE "P2";		# HUB_09 
IOBUF PORT "io_gpio[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[9]" PULLMODE=NONE;
LOCATE COMP "io_gpio[10]" SITE "L3";		# HUB_10 
IOBUF PORT "io_gpio[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[10]" PULLMODE=NONE;
LOCATE COMP "io_gpio[11]" SITE "M3";		# HUB_11 
IOBUF PORT "io_gpio[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[11]" PULLMODE=NONE;
LOCATE COMP "io_gpio[12]" SITE "P1";		# HUB_12 
IOBUF PORT "io_gpio[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[12]" PULLMODE=NONE;
LOCATE COMP "io_gpio[13]" SITE "R1";		# HUB_13 
IOBUF PORT "io_gpio[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[13]" PULLMODE=NONE;
LOCATE COMP "io_gpio[14]" SITE "M4";		# HUB_14 
IOBUF PORT "io_gpio[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[14]" PULLMODE=NONE;
LOCATE COMP "io_gpio[15]" SITE "N3";		# HUB_15 
IOBUF PORT "io_gpio[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "io_gpio[15]" PULLMODE=NONE;
LOCATE COMP "io_uart_debug_txd" SITE "E12";		# UART_DEBUG_TXD
IOBUF PORT "io_uart_debug_txd" IO_TYPE=LVCMOS33;
LOCATE COMP "io_uart_debug_rxd" SITE "D12";		# UART_DEBUG_RXD 
IOBUF PORT "io_uart_debug_rxd" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rst_n" SITE "R8";		# FPGA_RESET
IOBUF PORT "io_rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rs485_txd" SITE "A8";		# RS485_DI
IOBUF PORT "io_rs485_txd" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rs485_rxd" SITE "A7";		# RS485_RO 
IOBUF PORT "io_rs485_rxd" IO_TYPE=LVCMOS33;
LOCATE COMP "io_rs485_de" SITE "C7";		# RS485_DE 
IOBUF PORT "io_rs485_de" IO_TYPE=LVCMOS33;
LOCATE COMP "io_i2c_sda" SITE "P7";		# EEPROM_I2C_SDA
IOBUF PORT "io_i2c_sda" IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "io_i2c_sda" PULLMODE=UP;
LOCATE COMP "io_i2c_scl" SITE "R7";		# EEPROM_I2C_SCL
IOBUF PORT "io_i2c_scl" IO_TYPE=LVCMOS33;
IOBUF PORT "io_i2c_scl" PULLMODE=UP;
LOCATE COMP "io_eeprom_wp" SITE "R6";		# EEPROM_WP 
IOBUF PORT "io_eeprom_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "io_eeprom_wp" PULLMODE=UP;
LOCATE COMP "io_config" SITE "T6";		# EEPROM_RESET 
IOBUF PORT "io_config" IO_TYPE=LVCMOS33;
IOBUF PORT "io_config" PULLMODE=UP;


LOCATE COMP "io_lan_mdc" SITE "A2";		# LAN_MDC
IOBUF PORT "io_lan_mdc" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_mdc" PULLMODE=NONE;
LOCATE COMP "io_lan_nint" SITE "B3";		# LAN_nINT
IOBUF PORT "io_lan_nint" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_nint" PULLMODE=NONE;
LOCATE COMP "io_lan_nrst" SITE "A3";		# LAN_nRST
IOBUF PORT "io_lan_nrst" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_nrst" PULLMODE=NONE;
LOCATE COMP "io_lan_txen" SITE "A4";		# LAN_TXEN
IOBUF PORT "io_lan_txen" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txen" PULLMODE=NONE;
LOCATE COMP "io_lan_txclk" SITE "B4";		# LAN_TXCLK
IOBUF PORT "io_lan_txclk" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txclk" PULLMODE=NONE;
FREQUENCY PORT "io_lan_txclk" 25.0 MHz;
LOCATE COMP "io_lan_txd0" SITE "B5";		# LAN_TXD0
IOBUF PORT "io_lan_txd0" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txd0" PULLMODE=NONE;
LOCATE COMP "io_lan_txd1" SITE "A5";		# LAN_TXD1
IOBUF PORT "io_lan_txd1" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txd1" PULLMODE=NONE;
LOCATE COMP "io_lan_txd2" SITE "B6";		# LAN_TXD2
IOBUF PORT "io_lan_txd2" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txd2" PULLMODE=NONE;
LOCATE COMP "io_lan_txd3" SITE "A6";		# LAN_TXD3
IOBUF PORT "io_lan_txd3" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_txd3" PULLMODE=NONE;
LOCATE COMP "io_lan_rxd0" SITE "D1";		# LAN_RXD0
IOBUF PORT "io_lan_rxd0" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxd0" PULLMODE=NONE;
LOCATE COMP "io_lan_rxd1" SITE "E2";		# LAN_RXD1
IOBUF PORT "io_lan_rxd1" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxd1" PULLMODE=NONE;
LOCATE COMP "io_lan_rxd2" SITE "E1";		# LAN_RXD2
IOBUF PORT "io_lan_rxd2" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxd2" PULLMODE=NONE;
LOCATE COMP "io_lan_rxd3" SITE "F2";		# LAN_RXD3
IOBUF PORT "io_lan_rxd3" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxd3" PULLMODE=NONE;
LOCATE COMP "io_lan_mdio" SITE "B1";		# LAN_MDIO
IOBUF PORT "io_lan_mdio" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_mdio" PULLMODE=NONE;
LOCATE COMP "io_lan_col" SITE "B2";		# LAN_COL
IOBUF PORT "io_lan_col" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_col" PULLMODE=NONE;
LOCATE COMP "io_lan_crs" SITE "C1";		# LAN_CRS
IOBUF PORT "io_lan_crs" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_crs" PULLMODE=NONE;
LOCATE COMP "io_lan_rxer" SITE "C2";		# LAN_RXER
IOBUF PORT "io_lan_rxer" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxer" PULLMODE=NONE;
LOCATE COMP "io_lan_rxdv" SITE "B7";		# LAN_RXDV
IOBUF PORT "io_lan_rxdv" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxdv" PULLMODE=NONE;
LOCATE COMP "io_lan_rxclk" SITE "F1";		# LAN_RXCLK
IOBUF PORT "io_lan_rxclk" IO_TYPE=LVCMOS33;
IOBUF PORT "io_lan_rxclk" PULLMODE=NONE;
FREQUENCY PORT "io_lan_rxclk" 25.0 MHz;

LOCATE COMP "io_sram_cs" SITE "H15";		# SRAM #CS
IOBUF PORT "io_sram_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_we" SITE "K14";		# SRAM #WE
IOBUF PORT "io_sram_we" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_oe" SITE "J14";		# SRAM #OE
IOBUF PORT "io_sram_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_bhe" SITE "J16";		# SRAM #BHE
IOBUF PORT "io_sram_bhe" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_ble" SITE "J15";		# SRAM #BLE
IOBUF PORT "io_sram_ble" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[0]" SITE "L16";	# SRAM D00
IOBUF PORT "io_sram_dat[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[1]" SITE "L15";	# SRAM D01
IOBUF PORT "io_sram_dat[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[2]" SITE "M16";	# SRAM D02
IOBUF PORT "io_sram_dat[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[3]" SITE "M15";	# SRAM D03
IOBUF PORT "io_sram_dat[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[4]" SITE "K13";	# SRAM D04
IOBUF PORT "io_sram_dat[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[5]" SITE "K12";	# SRAM D05
IOBUF PORT "io_sram_dat[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[6]" SITE "L13";	# SRAM D06
IOBUF PORT "io_sram_dat[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[7]" SITE "L12";	# SRAM D07
IOBUF PORT "io_sram_dat[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[8]" SITE "N16";	# SRAM D08
IOBUF PORT "io_sram_dat[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[9]" SITE "P15";	# SRAM D09
IOBUF PORT "io_sram_dat[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[10]" SITE "L14";	# SRAM D10
IOBUF PORT "io_sram_dat[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[11]" SITE "M14";	# SRAM D11
IOBUF PORT "io_sram_dat[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[12]" SITE "P16";	# SRAM D12
IOBUF PORT "io_sram_dat[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[13]" SITE "R16";	# SRAM D13
IOBUF PORT "io_sram_dat[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[14]" SITE "M13";	# SRAM D14
IOBUF PORT "io_sram_dat[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_dat[15]" SITE "N14";	# SRAM D15
IOBUF PORT "io_sram_dat[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[0]" SITE "N13";	# SRAM A00
IOBUF PORT "io_sram_addr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[1]" SITE "P14";	# SRAM A01
IOBUF PORT "io_sram_addr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[2]" SITE "R15";	# SRAM A02
IOBUF PORT "io_sram_addr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[3]" SITE "T15";	# SRAM A03
IOBUF PORT "io_sram_addr[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[4]" SITE "P13";	# SRAM A04
IOBUF PORT "io_sram_addr[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[5]" SITE "R14";	# SRAM A05
IOBUF PORT "io_sram_addr[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[6]" SITE "R13";	# SRAM A06
IOBUF PORT "io_sram_addr[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[7]" SITE "T14";	# SRAM A06
IOBUF PORT "io_sram_addr[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[8]" SITE "R12";	# SRAM A08
IOBUF PORT "io_sram_addr[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[9]" SITE "T13";	# SRAM A09
IOBUF PORT "io_sram_addr[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[10]" SITE "M12";	# SRAM A10
IOBUF PORT "io_sram_addr[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[11]" SITE "N12";	# SRAM A11
IOBUF PORT "io_sram_addr[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[12]" SITE "M11";	# SRAM A12
IOBUF PORT "io_sram_addr[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[13]" SITE "N11";	# SRAM A13
IOBUF PORT "io_sram_addr[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[14]" SITE "P11";	# SRAM A14
IOBUF PORT "io_sram_addr[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[15]" SITE "P12";	# SRAM A15
IOBUF PORT "io_sram_addr[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[16]" SITE "K16";	# SRAM A16
IOBUF PORT "io_sram_addr[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "io_sram_addr[17]" SITE "K15";	# SRAM A17
IOBUF PORT "io_sram_addr[17]" IO_TYPE=LVCMOS33;

